.App {
  font-family: sans-serif;
  text-align: center;
}

.card {
  width: 100%;
  min-width: 150px !important;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardList {
  min-width: 540px;
}

.fixed-block {
  position: fixed;
}

.content-block {
  min-width: 768px;
}

.btn {
  margin-left: 3px;
}

.flex-box {
  display: flex !important;
  justify-content: space-between;
}
